/* 기본 리셋 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Haas Grot Text Trial', sans-serif;
    width: 100%;
    background: white;
}

/* 메인 컨테이너 */
.DetailPageDetail {
    width: 1920px;
    height: 5950px;
    position: relative;
    background: white;
    overflow: hidden;
}

/* 제목 텍스트 - MEMES (첫 번째) */
.DetailPageDetail > .Memes:nth-child(1) {
    left: 100px;
    top: 1076px;
    position: absolute;
    color: white;
    font-size: 120px;
    font-weight: 500;
    word-wrap: break-word;
}

/* 제목 텍스트 - MEMES (두 번째) */
.DetailPageDetail > .Memes:nth-child(4) {
    left: 100px;
    top: 1077px;
    position: absolute;
    color: white;
    font-size: 120px;
    font-weight: 500;
    word-wrap: break-word;
}

/* 푸터 영역 */
.Footer {
    width: 1920px;
    height: 200px;
    left: 0px;
    top: 5750px;
    position: absolute;
    background: black;
    overflow: hidden;
}

/* 푸터 내 벡터 이미지 */
.Footer .Vector {
    left: 24px;
    top: 0px;
    position: absolute;
}

/* 저작권 텍스트 */
.Copyright {
    left: 1275px;
    top: 76px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 400;
    word-wrap: break-word;
}

/* 배경 벡터 이미지 (큰 이미지 1920x1151) */
.DetailPageDetail > [data-svg-wrapper].Vector:nth-of-type(3) {
    left: 0px;
    top: 100px;
    position: absolute;
}

/* 흰색 상단 박스 */
.Rectangle5 {
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
}

/* 메뉴 버튼 */
.MenuText {
    left: 1715px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
    word-wrap: break-word;
}

/* 로그인 버튼 */
.LoginButton {
    left: 1548px;
    top: 31px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 32px;
    font-weight: 500;
    word-wrap: break-word;
}

/* 로고 벡터 (104x99) */
.DetailPageDetail > [data-svg-wrapper].Vector:nth-of-type(8) {
    left: 99.79px;
    top: -5.36px;
    position: absolute;
}

/* 배경 회색 박스 */
.Rectangle6 {
    width: 1720px;
    height: 4200px;
    left: 100px;
    top: 1350px;
    position: absolute;
    background: #f1f1f1;
    border-radius: 32px;
}

/* 하단 회색 박스 */
.Rectangle7 {
    width: 1720px;
    height: 800px;
    left: 100px;
    top: 4750px;
    position: absolute;
    background: #d9d9d9;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

/* 상단 회색 박스 */
.Rectangle10 {
    width: 1720px;
    height: 300px;
    left: 100px;
    top: 1350px;
    position: absolute;
    background: #d9d9d9;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

/* 화살표 벡터 (150x125) */
.DetailPageDetail > [data-svg-wrapper].Vector:nth-of-type(12) {
    left: 200px;
    top: 1437px;
    position: absolute;
}

/* 댓글 섹션 */
.CommentSection {
    width: 1600px;
    height: 600px;
    left: 160px;
    top: 4850px;
    position: absolute;
    background: white;
}

/* 제목 */
.ThisIsTheTitle {
    left: 508px;
    top: 1442px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 100px;
    font-weight: 500;
    word-wrap: break-word;
}

/* 컨텐츠 섹션 */
.ContentSection {
    width: 1600px;
    height: 1800px;
    left: 160px;
    top: 2850px;
    position: absolute;
    background: #d9d9d9;
}

/* 샘플 이미지 */
.SampleImage {
    left: 460px;
    top: 1750px;
    position: absolute;
}

/* 언어 전환 버튼 */
.KorEng {
    left: 1565px;
    top: 1440px;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.KorEng span {
    font-size: 40px;
    font-weight: 400;
    word-wrap: break-word;
}

.KorEng span:nth-child(1) {
    color: #c60c30;
}

.KorEng span:nth-child(2) {
    color: black;
}

.KorEng span:nth-child(3) {
    color: #003780;
}

/* 토글 스위치 */
.ToggleSwitch {
    width: 120px;
    height: 40px;
    padding: 2px;
    left: 1610px;
    top: 1500px;
    position: absolute;
    background: #c60c30;
    overflow: hidden;
    border-radius: 100px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}

.ToggleSwitch .Frame {
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.ToggleSwitch .Knob {
    position: relative;
}
